body{
    background-color: white;
    font-weight: 100;
    font-size: large;
  }
header{
  color: rgb(3, 38, 68); background-color: white;
  padding: 0 60px;
  display: flex;
flex-direction: row;
gap: 100px;
  width: 90%;
  height: 100px;
  justify-content: space-between;
  position: fixed;
  clear: both;
}
marquee{
  display: flex;
  flex-direction: row;
}
nav{
display: block;
margin-right: 0;
align-items: right;
}
a{
  text-decoration: none;
  gap: 10px; 
  margin: 10px;
text-align: right;
  }
  a:hover{
    color: rgb(22, 150, 150);

  }
  .ico{
    width: 25px; height: 25px; border-radius: 5PX; background-color: white;
  }
  .section1{
    background-color: rgb(209, 225, 230);
    padding-top: 85px;
    margin:auto;
  }
  .section2{
    background-color: aliceblue;
    padding: 25px;
    text-align: center;
  }
 .section3{
    background-color: rgb(49, 111, 203);
    text-align: center;
    padding: 25px;
 }
 .section4{
    background-color:rgb(52, 40, 50); 
    border-bottom: 1px solid antiquewhite;
    color: white;
    padding:25px ;
    margin: 0px;
 }
    .button{
      background-color: aliceblue;
      color: black;
      padding: 15px 25px; 
      border:1px solid;
      border-radius: 10px;
      
    }
    .btn{
      width: auto;
      height: auto;
      background-color: white;
      padding: 25px 35px;
      border-radius: 10px; 
      margin: 20px;
    }
    .login{
      border-radius: 8px;
      border: none;
      margin-right: 16px;
      font-size: medium;
      width: 80px;
      height: 40px;
      background-color: rgb(4, 196, 239);
    }
   .div1{
      
      padding:10px ;
      display: flex;
      flex-direction: row;
      gap:30px;
    
   }
    .h{
        text-align: center;
    }
  .image{
    width: 350px; 
    height: 550px;
  }